:host {
  align-items: stretch;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  width: 100%;

  .title {
    font-size: 24px;
    font-weight: 600;
    margin: 14px;
  }

  .name {
    font-weight: 500;
  }

  .skill {
    margin: 14px;
  }
}
