:host {
  width: calc(100% - 400px);
  min-width: 200px;
  
  .title {
    font-size: 24px;
    font-weight: 600;
    margin: 14px;
  }

  .name {
    font-weight: 500;
  }

  .skill {
    margin: 28px 14px;
  }
}
