<div class="navigator">
  <div class="head">
    <button mat-button i18n="browser navigator | Profile" routerLink="/profile">
      Profile
    </button>
    <button mat-button i18n="browser navigator | Blogs">Blogs</button>
    <button mat-button i18n="browser navigator | Resources">Resources</button>
    <button mat-button i18n="browser navigator | About">About</button>
  </div>
  <div class="tail">
    <div class="link">
      <a
        href="https://www.linkedin.com/in/%E4%BA%91%E9%BE%99-%E6%9D%8E-865244aa/?locale=en_US"
      >
        <mat-icon
          svgIcon="linkedin"
          i18n-matTooltip
          matTooltip="LinkedIn"
        ></mat-icon>
      </a>
    </div>
    <a href="https://github.com/Li-Mark">
      <mat-icon svgIcon="github" i18n-matTooltip matTooltip="GitHub"></mat-icon>
    </a>
    <a href="https://www.cnblogs.com/limark/">
      <mat-icon svgIcon="blog" i18n-matTooltip matTooltip="Blog"></mat-icon>
    </a>

    <a href="https://twitter.com/mark74639081">
      <mat-icon
        svgIcon="twitter"
        i18n-matTooltip
        matTooltip="Twitter"
      ></mat-icon>
    </a>

    <a href="https://weibo.com/911120110">
      <mat-icon svgIcon="weibo" i18n-matTooltip matTooltip="Weibo"></mat-icon>
    </a>
    <a class="wechat">
      <mat-icon svgIcon="wechat" i18n-matTooltip matTooltip="WeChat"></mat-icon>
      <img
        class="wechat-qc-code"
        src="../assets/wechat-qc.jpg"
        alt="We Chart QC Code"
      />
    </a>
    <mat-form-field class="language">
      <mat-select
        matNativeControl
        [value]="selectedLanguage"
        (selectionChange)="onLanguageChange($event)"
      >
        <mat-option value="english">ENG</mat-option>
        <mat-option value="chinese">中文</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
