<div class="navigator">
  <div class="head">
    <button mat-button i18n="browser navigator | Profile" routerLink="/profile">
      简历
    </button>
    <!-- <button mat-button i18n="browser navigator | Articles">文章</button>
    <button mat-button i18n="browser navigator | Resources">资源</button>
    <button mat-button i18n="browser navigator | About">关于</button> -->
  </div>
  <div class="tail">
    <div class="link">
      <a
        href="https://www.linkedin.com/in/%E4%BA%91%E9%BE%99-%E6%9D%8E-865244aa/?locale=en_US"
      >
        <mat-icon
          svgIcon="linkedin"
          i18n-matTooltip
          matTooltip="领英"
        ></mat-icon>
      </a>
    </div>
    <a href="https://github.com/Li-Mark">
      <mat-icon svgIcon="github" i18n-matTooltip matTooltip="GitHub"></mat-icon>
    </a>
    <a href="https://www.cnblogs.com/limark/">
      <mat-icon svgIcon="blog" i18n-matTooltip matTooltip="博客园"></mat-icon>
    </a>

    <a href="https://twitter.com/mark74639081">
      <mat-icon svgIcon="twitter" i18n-matTooltip matTooltip="推特"></mat-icon>
    </a>

    <a href="https://weibo.com/911120110">
      <mat-icon svgIcon="weibo" i18n-matTooltip matTooltip="微博"></mat-icon>
    </a>
    <a class="wechat">
      <mat-icon svgIcon="wechat" i18n-matTooltip matTooltip="微信"></mat-icon>
      <img
        class="wechat-qc-code"
        src="../assets/wechat-qc.jpg"
        alt="We Chart QC Code"
      />
    </a>
  </div>
</div>
