<mat-toolbar>
  <div class="navigator">
    <div class="head">
      <a class="link" href="/" class="home">
        <mat-icon color="primary">home</mat-icon>
      </a>
      <button mat-button>Resume</button>

      <button mat-button>Blog</button>

      <button mat-button>Trip</button>

      <button mat-button>Resource</button>
    </div>
    <div class="tail">
      <a
        class="link"
        href="https://www.linkedin.com/in/%E4%BA%91%E9%BE%99-%E6%9D%8E-865244aa/?locale=en_US"
      >
        <img class="image" src="../assets/linkedin.ico" alt="LinkedIn" />
      </a>
      <a
        class="link"
        href="https://www.linkedin.com/in/%E4%BA%91%E9%BE%99-%E6%9D%8E-865244aa/?locale=en_US"
      >
        <img class="image" src="../assets/github.ico" alt="GitHub" />
      </a>
    </div>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
