<mat-toolbar color="primary">
  <div class="navigator">
    <div class="head">
      <a href="/">
        <mat-icon>home</mat-icon>
      </a>
      <button mat-button>Resume</button>
      <button mat-button>Blogs</button>
      <button mat-button>Resources</button>
      <button mat-button>About</button>
    </div>
    <div class="tail">
      <div class="link">
        <a
          href="https://www.linkedin.com/in/%E4%BA%91%E9%BE%99-%E6%9D%8E-865244aa/?locale=en_US"
        >
          <mat-icon svgIcon="linkedin" matTooltip="LinkedIn"></mat-icon>
        </a>
      </div>
      <a href="https://github.com/Li-Mark">
        <mat-icon svgIcon="github" matTooltip="GitHub"></mat-icon>
      </a>
      <a href="https://www.cnblogs.com/limark/">
        <mat-icon svgIcon="blog" matTooltip="Blog"></mat-icon>
      </a>

      <a href="https://twitter.com/mark74639081">
        <mat-icon svgIcon="twitter" matTooltip="Twitter"></mat-icon>
      </a>

      <a href="https://weibo.com/911120110">
        <mat-icon svgIcon="weibo" matTooltip="Weibo"></mat-icon>
      </a>
      <a class="wechat">
        <mat-icon svgIcon="wechat" matTooltip="WeChat"></mat-icon>
        <img
          class="wechat-qc-code"
          src="../assets/wechat-qc.jpg"
          alt="We Chart QC Code"
        />
      </a>
    </div>
  </div>
</mat-toolbar>
<div class="content">
  <router-outlet></router-outlet>
</div>
