:host {
  @media all and (min-width: 800px) {
    .browser-navigator {
      display: flex;
    }

    .mobile-navigator {
      display: none;
    }
  }

  @media all and (max-width: 799px) {
    .browser-navigator {
      display: none;
    }

    .mobile-navigator {
      display: flex;
    }
  }

  .navigator {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999999999999;
  }

  .content {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    padding: 20px;
  }
}
