:host {
  display: grid;
  grid-template-columns: 300px auto;

  word-wrap: break-word;

  .profile-wrapper {
    display: grid;
    grid-column: 1;
    grid-row: 1;

    & .row {
      align-items: center;
      display: flex;
      margin: 10px 0;
    }

    & .name {
      font-family: 20px;
      font-weight: 600;
    }
  }

  mat-icon {
    height: 20px;
    margin-right: 10px;
    width: 16px;
  }

  .skill-wrapper {
    display: grid;
    grid-column: 2;
    grid-row: 1;
  }

  .resume {
    display: grid;
    grid-column: 2;
    grid-row: 2;
  }
}
