<div class="profile-wrapper">
  <div class="row photo">
    <img class="photo" src="../../../assets/photo.jpg" alt="photo" />
  </div>

  <div class="row name">Mark LI</div>

  <div class="row">
    A full stack engineer, I am adept at AngularJS, Angular and .NET.
  </div>

  <div class="row">
    <mat-icon svgIcon="company"></mat-icon>
    <span>Schlumberger - BGC</span>
  </div>

  <div class="row">
    <mat-icon svgIcon="location"></mat-icon>
    <span>Beijing, China</span>
  </div>

  <div class="row">
    <mat-icon svgIcon="email"></mat-icon>
    <a href="mailTo:liyunlong_haerbin@hotmail.com">
      liyunlong_haerbin@hotmail.com
    </a>
  </div>
</div>
<div class="skill-wrapper">
  <app-skill></app-skill>
</div>
