<div class="profile-wrapper">
  <div class="row photo">
    <img class="photo" src="../../assets/photo.jpg" alt="photo" />
  </div>

  <div class="row name" i18n="profile| name">李云龙</div>

  <div class="row" i18n="profile| brief">
    全栈工程师，精通Angular，AngularJS，.NET以及熟悉Scrum开发流程和CI/CD
  </div>

  <div class="row">
    <mat-icon svgIcon="company"></mat-icon>
    <span i18n="profile| company">斯伦贝谢 - 北京</span>
  </div>

  <div class="row">
    <mat-icon svgIcon="location"></mat-icon>
    <span i18n="profile| location">中国 北京</span>
  </div>

  <div class="row">
    <mat-icon svgIcon="email"></mat-icon>
    <a href="mailTo:liyunlong_haerbin@hotmail.com">
      liyunlong_haerbin@hotmail.com
    </a>
  </div>
</div>
<div class="skill-wrapper">
  <app-skill></app-skill>
</div>
<div class="resume">
  <markdown [src]="'../../assets/markdown/resume-zh-cn.md'"></markdown>
</div>
