<div class="profile-wrapper">
  <div class="row photo">
    <img class="photo" src="../../../assets/photo.jpg" alt="photo" />
  </div>

  <div class="row name">Mark LI</div>

  <div class="row brief">
    A full stack engineer, I am adept at AngularJS, Angular and .NET.
  </div>

  <div class="row company">
    <img class="icon" src="../../../assets/company.ico" alt="company" />
    <span> Schlumberger - BGC</span>
  </div>

  <div class="row ocation">
    <img class="icon" src="../../../assets/location.ico" alt="company" />
    <span> Beijing, China</span>
  </div>

  <div class="row email">
    <img class="icon" src="../../../assets/email.ico" alt="company" />
    <a href="mailTo:liyunlong_haerbin@hotmail.com">
      liyunlong_haerbin@hotmail.com
    </a>
  </div>
</div>
